.rubyRails {
  display: none;
}

.javaAndroid {
  display: none;
}

.phpDrupal {
  display: none;
}

body {
  background-color: lightgrey;
}

.jumbotron {
  height: 200px;
  background-image: url(../img/road.jpg);
  background-size: 100% 100%;
  margin-top: 20px;
  color: white;
  font-family: helvetica;
  font-style: italic;
}

.jumbotron h1 {
  text-align: right;
  margin-top: 90px;
  padding-left: 50px;
  font-size: 43px;
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.well {
  text-align: center;
}

.suggImgContainer {
  text-align: center;
}

.suggImg {
  display: inline;
}

.suggList {
  display: inline;
  padding: 0;
  margin: auto;
  text-align: center;
}
